{% extends "layout.html" %}

{% block title %}
    BUY
{% endblock %}

{% block main %}
<h1>Buy Stocks</h1>

    <form action="/buy" method="post">
        <div class="mb-3">
            <input input class="form-control mx-auto w-auto" type="text" name="symbol" id="symbol" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="number" name="shares" id="shares" min="1" required>
        </div>
        <button class="btn btn-primary"  type="submit">Buy</button>
    </form>
{% endblock %}
